---
proxmox_suite: "trixie"
proxmox_repo_url: "http://download.proxmox.com/debian/pve"
proxmox_tuning_zfs_arc_max_bytes: 8589934592
proxmox_tuning_vm_swappiness: 10
proxmox_tuning_net_ipv4_ip_forward: 1
proxmox_tuning_enable_k3s_netfilter: true
proxmox_tuning_bridge_nf_call_iptables: 1
proxmox_tuning_bridge_nf_call_ip6tables: 1
proxmox_tuning_zpool_autotrim: "on"
